/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    min-height: 100vh;
}

/* Container principal dividido */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Metade esquerda */
.left-panel {
    flex: 1;
    background: #8fa248;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.left-panel h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.left-panel .sub {
    font-weight: bold;
    font-size: 0.9rem;
}

.right-panel {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px 40px 40px; 
}

.logo {
    width: 400px; 
    height: auto;
    margin-bottom: 30px;
    display: block; 
}

.login-box {
    background: #eeeeee;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
    margin-top: 100px;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-weight: normal; 	
    font-size: 1rem; 	
    border-radius: 8px;
    margin: 0 5px;
    background: #ddd;
    color: #535a3a;
    transition: 0.3s;
}

.tab.active {
    background: #8fa248;
    color: #dddddd;
    font-weight: normal; 
}

input {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: #8fa248;
    color: #dddddd;
    font-size: 1rem;
}

input::placeholder {
    color: #ddd;
}

.submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #8fa248;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.submit:hover {
    background: #4c532c;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }
    
    .left-panel {
        flex: none;
        min-height: 30vh;
    }
    
    .right-panel {
        flex: none;
        min-height: 70vh;
    }
    
    .login-box {
        width: 90%;
        max-width: 350px;
    }
}