body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
    background-image: url('Dinfor.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.form-container {
    background-color: #dfeddc;
    padding: 30px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.form-title {
    font-size: 1.5em;
    color: #8fa248;
    margin-bottom: 20px;
}

input[type="text"], 
input[type="number"], 
select {
    width: 92%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #888888;
    font-size: 1em;
    outline: none;
    height: auto;
    line-height: normal;
}

#sexo {
    width: 100%; 
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:invalid {
    color: #888;
}

.btn-confirmar {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #8fa248;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn-confirmar:hover {
    background-color: #888;
}



#resultado-imc-input {
    width: 92%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #888888;
    font-size: 1em;
    outline: none;
    height: auto;
    line-height: normal;
    text-align: center; 
    font-weight: bold; 
}


#resultado-imc-input[readonly] {
    cursor: default;
}



@media (max-width: 768px) {
    .form-container {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .form-container {
        width: 90%;
        padding: 20px 30px;
    }

    .title {
        font-size: 1.8em;
        margin-bottom: 20px;
    }
}